body { 
  background-color:black;
    font-family:Lexend Giga, Iter, Itim;
    color: rosybrown;
    margin: 0;
}

img {
    max-width: 50%;
    justify-content:center;
 } 

header { 
  background-color:black;
  font-family: Arial, Helvetica, sans-serif;
    max-width: 1100px;
    margin: 48px auto;
    display: flex;
    justify-content:center;
  }

  header h1 { 
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: auto;
    justify-content: center;

  }
header nav ul { 
  margin: 0;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 16px;
}

  header main { 
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1100px;
    margin: 48px auto;
    display: flex;
    justify-content:center;
    }

    img { 
      max-width: 50%;
      justify-content:flex-start;
    }
  
    footer { 
    max-width: 1100px;
    background-color:black;
    margin: 50;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
   }